.custom_button {
    -fx-background-color: #64B5F6; /* Białe tło przycisku */
    -fx-text-fill: black; /* Czarny kolor tekstu */
    -fx-padding: 0; /* Zerowy padding */
    -fx-border-color: black; /* Czarna ramka */
    -fx-border-width: 1px; /* Szerokość ramki */
    -fx-min-width: 30px; /* Minimalna szerokość */
    -fx-min-height: 30px; /* Minimalna wysokość */
    -fx-font-weight: bold;
    -fx-font-size: 15pt;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}
.title {
    -fx-text-fill: #1a237e;
    -fx-font-family: "Impact";
}
.label_button {
    -fx-background-color: transparent; /* Białe tło przycisku */
    -fx-text-fill: #1a237e; /* Czarny kolor tekstu */
    -fx-padding: 0; /* Zerowy padding */
    -fx-border-width: 0px; /* Szerokość ramki */
    -fx-min-width: 30px; /* Minimalna szerokość */
    -fx-min-height: 30px; /* Minimalna wysokość */
    -fx-font-weight: bold;
    -fx-font-size: 15pt;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}
.red {
    -fx-text-fill: #FF0000; /* Czarny kolor tekstu */
    /*-fx-border-color: #FF0000; /* Czarny kolor tekstu */
}
.green {
    -fx-text-fill: #00cc00; /* Czarny kolor tekstu */
}

/* Zmiana koloru przycisku po najechaniu myszką */
.custom_button:hover {
    -fx-background-color: #BBDEFB; /* Inny kolor tła po najechaniu myszką */
}

.menuButton {
    -fx-background-color: #283593; /* Kolor tła */
    -fx-text-fill: #BBDEFB; /* Kolor tekstu */
    -fx-font-size: 18px; /* Rozmiar czcionki */
    -fx-font-weight: bold; /* Pogrubienie tekstu */
    -fx-padding: 10px 20px; /* Wewnętrzny odstęp */
    -fx-border-color: #303f9f; /* Kolor obramowania */
    -fx-border-width: 2px; /* Grubość obramowania */
    -fx-border-radius: 5px; /* Zaokrąglenie narożników */
    -fx-max-height: 30px;
    -fx-max-width: 140px;
}

.menuButton:hover {
    -fx-background-color:#303f9f; /* Kolor tła po najechaniu myszą */
}

.menuButton:pressed {
    -fx-background-color: #1a237e; /* Kolor tła po naciśnięciu */
}
.background {
    -fx-background-color: #2196F3;
    -fx-border-color: #1a237e; /* Kolor ramki (zielony) */
    -fx-border-width: 10px; /* Grubość ramki */
    -fx-padding: 10px; /* Odstęp wewnątrz BorderPane */
}
.green_frame {
    -fx-border-color: #00cc00; /* Kolor ramki (zielony) */
    -fx-border-width: 10px; /* Grubość ramki */
    -fx-padding: 10px; /* Odstęp wewnątrz BorderPane */
}
.red_frame {
    -fx-border-color: #FF0000; /* Kolor ramki (zielony) */
    -fx-border-width: 10px; /* Grubość ramki */
    -fx-padding: 10px; /* Odstęp wewnątrz BorderPane */
}
.red-square {
    -fx-fill: #FF0000; /* Kolor wypełnienia: czerwony */
    -fx-background-color: #FF0000;
}
.red-square:hover {
    -fx-background-color: #FF6666; /* Inny kolor tła po najechaniu myszką */
}
.less-red-square {
    -fx-fill: #FFA500; /* Kolor wypełnienia: czerwony */
    -fx-background-color: #FFA500;
}
.less-red-square:hover {
    -fx-background-color:  #FFD27F; /* Inny kolor tła po najechaniu myszką */
}
.blue-square {
    -fx-fill: navy; /* Kolor wypełnienia: czerwony */
    -fx-background-color: navy;
}
.green-square {
    -fx-fill: #00cc00; /* Kolor wypełnienia: czerwony */
    -fx-background-color: #00cc00;
}
.green-square:hover {
    -fx-background-color: #A7FF6E; /* Inny kolor tła po najechaniu myszką */
}
.transparent {
    -fx-fill: transparent; /* Kolor wypełnienia: czerwony */
}
.image-view {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 60;
}

/* Podświetl obraz po najechaniu myszą */
.image-view:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}