.title {
    -fx-text-fill: white;
    -fx-font-family: "Impact";
}
.record {
    -fx-text-fill: black;
    -fx-font-family: "Times New Roman bold";
    -fx-font-size: 30;
    -fx-background-color: white;
    -fx-min-width: 490;
}
.message {
    -fx-text-fill: red;
    -fx-font-family: "Times New Roman bold";
    -fx-font-size: 20;
}
.back {
    -fx-background-color: #404040;
}
.menuButton {
    -fx-background-color: black; /* Kolor tła */
    -fx-text-fill: white; /* Kolor tekstu */
    -fx-font-size: 18px; /* Rozmiar czcionki */
    -fx-font-weight: bold; /* Pogrubienie tekstu */
    -fx-border-color: white; /* Kolor obramowania */
    -fx-border-width: 5px; /* Grubość obramowania */
    -fx-max-height: 30px;
    -fx-max-width: 140px;
}
.selectedButton {
    -fx-background-color: #404040; /* Kolor tła */
}
.menuButton:hover {
    -fx-background-color:#262626; /* Kolor tła po najechaniu myszą */
}
.selectedButton:hover {
    -fx-background-color:#4d4d4d; /* Kolor tła po najechaniu myszą */
}
.menuButton:pressed {
    -fx-background-color: #404040; /* Kolor tła po naciśnięciu */
}
.background {
    -fx-border-color: #262626; /* Kolor ramki (zielony) */
    -fx-border-width: 10px; /* Grubość ramki */
    -fx-padding: 10px; /* Odstęp wewnątrz BorderPane */
}
.rectangle {
    -fx-fill: white;
}
.arrow {
    -fx-background-color: black; /* Kolor tła */
    -fx-min-width: 50;
    -fx-min-height: 50;
}
.arrow:hover {
}
.arrow:hover {
}
.gold {
    -fx-background-color: gold;
}
.silver {
    -fx-background-color: silver;
}
.bronze {
    -fx-background-color: #cc6600;
}